.home-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

@media (min-width: 768px) {
  .home-container {
    max-width: 1000px; /* Adjust width for normal-sized screens */
  }
}

@media (min-width: 1024px) {
  .home-container {
    max-width: 1200px; /* Adjust width for larger screens */
  }
}

.home-header {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.home-actions {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.add-gpu-toggle {
  min-width: 100%;
}

.add-form-container {
  max-width: 600px; /* Allow full width on smaller screens */
  width: 100%;
  box-sizing: border-box; /* Include padding in width */
  padding: 1rem;
  margin: 1rem auto; /* Center the form */
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  border: 2px solid;
  border-style: groove;
  text-align: left;
}

.add-form-container input {
  font-size: 1.5rem; /* Increase font size */
  height: 3rem; /* Make input fields taller */
  width: 100%; /* Ensure inputs span full width */
  padding: 0.5rem; /* Add padding for better usability */
  box-sizing: border-box; /* Include padding in width */
  text-align: right;
  font: inherit;
}

.add-gpu-button-area {
  text-align: center;
}

#add-gpu-submit-button {
  margin-top: 1rem;
}

.gpu-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive grid */
  gap: 1.5rem;
}

.no-results {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .home-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home-actions {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start; /* Align items side by side */
  }

  .home-actions > * {
    flex: 1; /* Ensure both elements take equal space */
    max-width: 50%; /* Prevent overflow */
  }

  .gpu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .gpu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .add-form-container {
    max-width: 100%; /* Shrink to fit smaller screens */
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
  }

  .add-form-container input {
    font-size: 1.2rem; /* Slightly smaller font size for mobile */
    height: 2.5rem; /* Adjust input height */
  }

  .home-actions {
    flex-direction: column; /* Stack elements vertically */
    gap: 1rem; /* Add spacing between elements */
  }

  .home-actions > * {
    max-width: 100%; /* Ensure elements take full width */
  }
}
