.nvidia-model-header {
  color: #76b900;
}

.amd-model-header {
  color: red;
}

.intel-model-header {
  color: #0068b5;
}

[id^="nvidia-"],
[id*="geforce"] {
  border-color: rgba(118, 185, 0, 0.75);
}

[id^="amd-"],
[id*="radeon"] {
  border-color: rgba(186, 0, 0, 0.75); /* subtle transparent red */
}

[id^="intel-"],
[id*="-arc-"] {
  border-color: rgba(0, 104, 181, 0.75); /* subtle transparent blue */
}
